*{
    padding: 0;
    margin: 0;
    font-family: Alata;
}
header{
    background-color: #C4C4C4;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
header h1{
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
header nav{
    height: 49px;
    text-decoration: none;
    gap: 32px;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 16px;
}
header nav a{
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.sobre_mim {
    background: #F3F3F3;
    width: 1440;
    height: 318;
    top: 109px;
    gap: 125px;
    opacity: 1;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 20%;
    padding-right:20%;
}

.sobre_mim figure img{
    width: 247;
    height: 247;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.sobre_mim article{
    width: 314;
    height: 186;
    opacity: 1;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sobre_mim article h2{
    width: 95;
    height: 36;
    top: 66px;
    left: 599px;
    opacity: 1;
}
.sobre_mim article p{
    width: 614;
    height: 134;
    top: 117.86px;
    left: 599px;
    opacity: 1;
}

.listas{
    width: auto;
    height: 289px;


    top: 427px;
    gap: 26px;
    opacity: 1;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies{
    width: 45%;
    height: 249;
    gap: 26px;
    opacity: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hobbies h2{
    width: 98;
    height: 33;
    opacity: 1;
}

.hobbies ul{
    width: 1000;
    display:flex;
    height: 180px;
    align-items: flex-end;
    gap: 10px;
}

.hobbies ul li{
    width: 102px;
    height: 150px;
    gap: 10px;
    opacity: 1;
    padding: 17px;
    border-radius: 5px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px 0px #00000040;
    display: flex;
    align-items: flex-end;
}

.rank{
    width: 45%;
    height: 249;
    gap: 26px;
    opacity: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rank h2{
    width: 98;
    height: 33;
    opacity: 1;
}

.rank ul{
    width: 1000;
    display:flex;
    height: 180px;
    align-items: flex-end;
    gap: 10px;
}

.rank ul li{
    width: 102px;
    height: 167px;
    gap: 10px;
    opacity: 1;
    padding: 0px 17px 17px 17px;
    border-radius: 5px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px 0px #00000040;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.rank ul li div{
    width: 49;
    height: 44;
    left: 5px;
    opacity: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #C4C4C4;
    padding: 10px;
}

form{
    width: 1168px;
    height: 266px;
    top: 792px;
    left: 136px;
    opacity: 1;
    gap: 10px;
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 100px;
}

form h2{
    font-family: Alata;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;;
}

form div input{
    width: 1128px;
    height: 56px;
    top: 845px;
    left: 176px;
    opacity: 1;
    background: #ECECEC;
    border:none;
    border-radius: 5px;
}

form div input::placeholder{
    font-family: Alata;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-left: 10px;
}

form div textarea{
    width: 1128px;
    height: 56px;
    top: 845px;
    left: 176px;
    opacity: 1;
    background: #ECECEC;
    border:none;
    border-radius: 5px;
    display: flex;
}

form div textarea::placeholder{
    font-family: Alata;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-left: 10px;
    padding-top: 18px;
}

form button{
    width: 127px;
    height: 39px;
    top: 989px;
    left: 1149px;
    border-radius: 5px;
    border:none;
    opacity: 1;
}

form div{
    display:flex;
    gap:15px;
    align-items: flex-end;
    flex-direction: column;
}

