*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #C4C4C4;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
header h1{
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
header nav{
    height: 49px;
    text-decoration: none;
    gap: 32px;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 16px;
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
}


