*{
  padding: 0;
  margin: 0;
  font-family: Alata;
  text-decoration: none;
  list-style: none;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
header{
  background-color: #c4c4c4;
  height: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  box-shadow: 0px 4px 4px 0px #1403ff40;
}

h1{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
}

header nav{
  width: 20%;
  display:flex;
  justify-content: space-between;
}

header nav a{
  text-decoration: none;
  color: black;
}

.sobre_mim{
  background: #F3F3F3;
  padding: 2% 10%;
  margin-top: 4px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #b1b1b140;
}

.sobre_mim figure img{
  width: 247px;
  height: 247px;
  border-radius:50%;
  box-shadow: 0px 15px 15px 0px #1403ff40;
}

.sobre_mim article{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listas{
  padding: 2% 10%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.hobbies{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hobbies ul{
  display: flex;
  width: 100%;
  gap: 2%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hobbies li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 104px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #1403ff40;
  transition:all 0.3s ease;
}

.hobbies ul li:nth-child(1):hover{
  background-image: url("assets/jogar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.hobbies ul li:nth-child(2):hover{
  background-image: url("assets/praia.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.hobbies ul li:nth-child(3):hover{
  background-image: url("assets/tabuleiro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.hobbies ul li:nth-child(4):hover{
  background-image: url("assets/doomscrolling.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.hobbies ul li:nth-child(5):hover{
  background-image: url("assets/filme.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}

.rank{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rank ul{
  display: flex;
  width: 100%;
  gap: 2%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rank ul .top{
  display: flex;
  height: 150px;
  width: 60%;
  gap: 3%;
  justify-content: space-between;
  align-items: flex-end;
}

.rank li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 104px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #1403ff40;
  transition:all 0.3s ease;
}

.rank ul li:nth-child(1):hover{
  background-image: url("assets/sushi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.rank ul li:nth-child(2):hover{
  background-image: url("assets/churrasco.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.rank ul li:nth-child(3):hover{
  background-image: url("assets/sopa_de_ervilha.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.rank ul li:nth-child(4):hover{
  background-image: url("assets/churros.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}
.rank ul li:nth-child(5):hover{
  background-image: url("assets/risoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 38px 20%;
}

form div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div input{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div input::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form div textarea{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div textarea::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form button{
  width: 127px;
  background: #D9D9D9;
  height: 39px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}

.hover_area:hover{
  background-color: rgb(0, 0, 175);
  transition: 0.5s;
  border-radius: 5px;
  color: white;
}

.Meu_Jogo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 38px 20%;
}

.Meu_Jogo div{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5%;
}

.Meu_Jogo div nav a button{
  background: #D9D9D9;
  height: 39px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}

footer{
  background: #C4C4C4;
  height: 70px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

footer nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

footer button{
  width: 162px;
  height: 38px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width:830px){
  .sobre_mim{
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .sobre_mim article{
    width: 90%;
  }
  h1{
    font-size: 100%;
  }
  header nav{
    display: none;
  }
  form{
    margin: 76px 10px;
  }
  footer{
    margin-top: 20%;
  }
}

@media(max-width:1580px){
  .hobbies{
    width:100%;
  }
  .hobbies ul{
    justify-content: center;
  }
  .hobbies h2{
    align-self: flex-start;
  }
  .rank{
    width:100%;
  }
  .rank ul{
    justify-content: center;
  }
  .rank h2{
    align-self: flex-start;
  }
  .Meu_Jogo div{
    flex-direction: column;
  }
}

@media(max-width:450px){
  footer nav{
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}