*{
  padding: 0;
  margin: 0;
  font-family: Alata;
  text-decoration: none;
  list-style: none;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
header{
  background-color: #C4C4C4;
  height: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

h1{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
}

header nav{
  width: 20%;
  display:flex;
  justify-content: space-between;
}

header nav a{
  text-decoration: none;
  color: black;
}

.sobre_mim{
  background: #F3F3F3;
  height: 318px;
  padding: 2% 10%;
  margin-top: 4px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.sobre_mim figure img{
  width: 247px;
  height: 247px;
  border-radius:50%;
  box-shadow: 0px 10px 10px 0px #00000040;
}

.sobre_mim article{
  width: 50%;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listas{
  height: 300px;
  padding: 2% 10%;
  display:flex;
  justify-content: center;
  gap: 5%;
}

.hobbies{
  width: 45%;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hobbies ul{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 2%;
  justify-content: flex-end;
  align-items: flex-end;
}

.hobbies ul .top{
  display: flex;
  height: 150px;
  width: 60%;
  gap: 3%;
  justify-content: flex-end;
  align-items: flex-end;
}

.hobbies ul .bottom{
  display: flex;
  height: 150px;
  width: 40%;
  gap: 5%;
  justify-content: flex-start;
  align-items: flex-end;
}

.hobbies ul li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #00000040;
}

.rank{
  width: 45%;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rank ul{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 2%;
  justify-content: flex-start;
  align-items: flex-end;
}

.rank h2{
  display: flex;
}

.rank ul .top{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 3%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.rank ul .bottom{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 3%;
  justify-content: flex-start;
  align-items: flex-start;
}

.rank ul li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 35%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #00000040;
}

form{
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 76px 20%;
}

form div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div input{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div input::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form div textarea{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div textarea::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form button{
  width: 127px;
  background: #D9D9D9;
  height: 39px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}

footer{
  background: #C4C4C4;
  height: 70;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

footer nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

footer button{
  width: 162px;
  height: 38px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width:830px){
  .sobre_mim{
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 42%;
  }
  .sobre_mim article{
    width: 90%;
  }
  h1{
    font-size: 100%;
  }
  header nav{
    display: none;
  }
  .listas{
    flex-direction: column;
    height: 40%;
  }
  .hobbies{
    width:100%;
    height: 120%;
  }
  .hobbies h2{
    align-self: flex-start;
  }
  .hobbies ul{
    height: 120%;
    flex-direction: column;
    gap: 5px;
  }
  .hobbies ul .top{
    width: 100%;
    justify-content: center;
  }
  .hobbies ul .bottom {
    height: 150px;
    width: 100%;
    gap: 3%;
    justify-content: center;
    align-items: flex-end;
  }
  .rank{
    width:100%;
    height: 120%;
  }
  .rank h2{
    align-self: flex-start;
  }
  .rank ul{
    height: 120%;
    flex-direction: column;
    gap: 5px;
  }
  .rank ul .top{
    width: 100%;
    justify-content: center;
  }
  .rank ul .bottom {
    height: 150px;
    width: 100%;
    gap: 3%;
    justify-content: center;
    align-items: flex-end;
}
}