*{
  padding: 0;
  margin: 0;
  font-family: Alata;
  text-decoration: none;
  list-style: none;
}
header{
  background-color: #C4C4C4;
  height: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

h1{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
}

header nav{
  width: 20%;
  display:flex;
  justify-content: space-between;
}

header nav a{
  text-decoration: none;
  color: black;
}

.sobre_mim{
  background: #F3F3F3;
  height: 318;
  padding: 2% 10%;
  margin-top: 4px;
  display:flex;
  justify-content: space-evenly;
}

.sobre_mim figure img{
  width: 247px;
  height: 247px;
  border-radius:50%;
}

.sobre_mim article{
  width: 50%;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listas{
  height: 300px;
  padding: 2% 10%;
  display:flex;
  justify-content: center;
  gap: 5%;
}

.hobbies{
  width: 45%;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hobbies ul{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 2%;
  justify-content: flex-end;
  align-items: flex-end;
}

.hobbies ul li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 15%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #00000040;
}

.rank{
  width: 45%;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rank ul{
  display: flex;
  height: 150px;
  width: 100%;
  gap: 2%;
  justify-content: flex-start;
  align-items: flex-end;
}

.rank h2{
  display: flex;
}

.rank ul li{
  background: #DFDFDF;
  border-radius:5px;
  height: 150px;
  width: 15%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 4px 4px 4px 0px #00000040;
}

form{
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 76px 20%;
}

form div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div input{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div input::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form div textarea{
  width: 95%;
  background: #ECECEC;
  height: 56px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
}

form div textarea::placeholder{
  font-family: Alata;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 0px 20px
}

form button{
  width: 127px;
  background: #D9D9D9;
  height: 39px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}