*{
    padding: 0;
    margin: 0;
    font-family: Alata;
}
header{
    background-color: #C4C4C4;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
header h1{
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
header nav{
    height: 49px;
    text-decoration: none;
    gap: 32px;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 16px;
}
header nav a{
    font-family: Alata;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.sobre_mim {
    background: #F3F3F3;
    width: 1440;
    height: 318;
    top: 109px;
    gap: 125px;
    opacity: 1;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sobre_mim figure img{
    width: 247;
    height: 247;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.sobre_mim article{
    width: 314;
    height: 186;
    opacity: 1;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sobre_mim article h2{
    width: 95;
    height: 36;
    top: 66px;
    left: 599px;
    opacity: 1;
}
.sobre_mim article p{
    width: 614;
    height: 134;
    top: 117.86px;
    left: 599px;
    opacity: 1;
}

.listas{
    width: 1440;
    height: 289;
    top: 427px;
    gap: 26px;
    opacity: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.listas div{
    width: 595;
    height: 249;
    gap: 26px;
    opacity: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

li{
    display: inline;
    width: 102;
    height: 150;
    gap: 10px;
    opacity: 1;
    padding: 17px;
    border-radius: 5px;
    background: #DFDFDF;

}
